.home-btn {
    display: block;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-image: url('../../images/logo.svg');
    background-size: contain;
    background-position: center;
    transition: transform .5s;
}

.home-btn:hover {
    transform: scale(105%);
}