.btn-creator {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.btn-creator__form {
    height: 500px;
    width: 400px;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 30px;
}




