.btn-creator {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.btn-creator__form {
    height: 500px;
    width: 400px;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 30px 20px;
}

.btn-creator__demo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    
}




