.btn-creator {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.btn-creator__form {
    height: 500px;
    width: 400px;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 30px;
}

.btn-creator__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background-color: #A8A6FF;
}

.btn-creator__form-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    align-items: center;
}

.btn-creator__input {
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    border-radius: 0;
    border: 2px solid black;
    letter-spacing: -1px;
    outline: none;
    transition: all .3s;
}


.btn-creator__input:focus {
    box-shadow: 2px 2px black;
}

.btn-creator__input_type_select {
    cursor: pointer;
}

.btn-creator__label {
    letter-spacing: -1px;
    font-weight: 500;
}

.btn-creator__value {
    color: #FF792E;
}

.btn-creator__input_type_range {
    appearance: none;
    height: 10px;
    background-color: #A8A6FF;
}

.btn-creator__input_type_range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 25%;
    background-color:#FF792E;
    border: 2px solid black;
}

.btn-creator__options {
    height: 25px;
    box-sizing: border-box;
    border: 2px solid black;
}

.btn-creator__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.btn-creator__label_checkbox {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2px;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: 50%;
    cursor: pointer;
    transition: all .3s;
}

.btn-creator__label_checkbox:last-child {
    border-left: 2px solid black;
}

.btn-creator__checkbox:checked + .btn-creator__label_checkbox{
    padding-left: 10px;
    background-color: #A8A6FF;
}

.btn-creator__label_checkbox::before{
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 5px;
    display: block;
    width: 10px;
    height: 10px;
    background: url("../../images/check.svg");
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: all .3s;
}

.btn-creator__checkbox:checked + .btn-creator__label_checkbox::before{
    opacity: 1;
}



