@keyframes animation{
    50% {
        box-shadow: 4px 4px black;
        transform: scale(102%);
    }
    60% {
        box-shadow: 2px 2px black;
        transform: scale(102%);
    }
    100% {
        box-shadow: 4px 4px black;
        transform: scale(102%);
    }
}

.navigation {
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.navigation__link {
    width: 90px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px 8px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background: #A8A6FF;
    transition: all .4s;
}

.navigation__link:hover{
    animation-name:  animation;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    background-color: #b5b3fafd;
}

.navigation__link_active {
    background-color: #FFFB47;
}

.navigation__link_active:hover {
    background-color: #FFFB47;
    cursor: default; 
    animation-play-state: paused;
}
